.advantages {
	@include adaptiveValue("padding-top", 65, 30);
	@include adaptiveValue("padding-bottom", 65, 30);

	&__container {
		@include flex(row);
		@include adaptiveValue("gap", 100, 20);

		@media (max-width:$tablet) {
			@include flex(column-reverse, space-between);
		}

		@media (max-width: em(990)) {
			@include adaptiveValue("padding-top", 120, 20);
		}
	}

	&__cards-wrap {
		@include flex(row, space-between);
		width: 100%;
		@include adaptiveValue("width", 822, 600);

		@media (max-width:em(1000)) {
			max-width: 97%;
			flex-wrap: wrap;
		}

		// @media (max-width: em(720)) {
		// 	@include flex(column, flex-start, start);
		// }
	}

	&__card {
		@include flex(column);
		flex: 1 1 auto;
		width: max(rem(226));
		padding-top: rem(14);
		padding-bottom: rem(14);
		@include adaptiveValue("padding-left", 40, 10);
		@include adaptiveValue("padding-right", 40, 10);
		gap: rem(16);
		text-align: center;

		@media (max-width:em(1000)) {
			max-width: 100%;
		}

		@media (max-width: em(720)) {
			@include adaptiveValue("width", 130, 80);
		}
	}

	&__card-text {
		@include adaptiveValue("font-size", 24, 14);
		@include adaptiveValue("width", 190, 80);
		line-height: 1.2;
		color: var(--clr-title);
	}

	&__card-image {
		@include adaptiveValue("width", 147, 80);
	}
}

.section-head {
	@include flex(column, flex-start, end);
	@include adaptiveValue("gap", 20, 10);
	@include adaptiveValue("width", 290, 200);
	text-align: right;

	@media (max-width:$tablet) {
		@include flex(column);
		width: 97%;
		text-align: center;
	}

	&__title {
		@include flex(row, flex-start);
		font-family: var(--fn-family-title);
		text-transform: uppercase;
		font-weight: 300;
		@include adaptiveValue("font-size", 32, 22);
		@include adaptiveValue("gap", 30, 20);
		line-height: 1.2;
		color: var(--clr-title);

		@media (max-width:$tablet) {
			@include flex(row);
			width: 97%;
		}
	}

	&__subtitle {
		@include adaptiveValue("font-size", 18, 16);
		@include adaptiveValue("width", 160, 280);

		@media (max-width:$tablet) {
			width: 97%;
		}
	}
}