.equipment {
	width: 100%;
	@include adaptiveValue("padding-top", 65, 30);
	@include adaptiveValue("padding-bottom", 130, 30);
	@include bg-cover;
	background-image: url('/src/assets/image/bg-equipment.png');

	&__container {
		@include flex(row, space-between, start);

		@media (max-width:$tablet) {
			@include flex(column-reverse, space-between, center);
		}
	}

	&__card-wrap {
		@include flex(row, flex-start, start);
		@include adaptiveValue("padding-top", 288, 100);

		@media (max-width: em(870)) {
			@include flex;
			@include adaptiveValue("padding-top", 50, 10);
			width: 100%;
		}
	}

	&__card {
		position: relative;
		width: 100%;
		max-width: rem(280);
		height: 100%;
		min-height: rem(440);
		background: rgba(43, 43, 43, 0.50);
		box-shadow: 0px 0px 74px 0px rgba(0, 0, 0, 0.25);
		backdrop-filter: blur(7px);
		@include adaptiveValue("padding-bottom", 20, 10);
		@include adaptiveValue("padding-left", 40, 20);
		@include adaptiveValue("padding-right", 40, 20);

		@media (max-width: em(870)) {
			@include flex(row);
			width: 100%;
			min-width: 94%;
			height: 100%;
			min-height: rem(240);
			@include adaptiveValue("padding-top", 20, 10);
		}

		@media (max-width: em(440)) {
			@include flex(column);
		}
	}

	&__image-wrap {
		position: relative;
		width: 100%;
		@include adaptiveValue("height", 170, 100);

		@media (max-width: em(870)) {
			height: 0;
			margin-right: 0;
		}

		@media (max-width: em(440)) {
			height: rem(160);
			width: auto;
			@include flex;
		}
	}

	&__card-image {
		@include absoluteCenter;
		top: -10px;
		@include adaptiveValue("width", 280, 130);

		@media (max-width: em(870)) {
			position: relative;
			top: 0;
		}

		@media (max-width: em(440)) {
			margin: 0;
			transform: translate(-50%, 0%);
			@include adaptiveValue("width", 160, 130);
		}
	}

	&__card-info {
		@include flex(column, flex-start, start);
		gap: rem(12);
	}

	&__card-title {
		@include adaptiveValue("font-size", 26, 18);
		color: var(--clr-title);
	}

	&__card-text {
		font-size: rem(16);
		line-height: 1.4;

		@media (max-width: em(870)) {
			@include adaptiveValue("width", 700, 100);
		}

		@media (max-width: em(440)) {
			width: 97%;
			font-size: rem(14);
		}
	}

	&__title-wrap {
		@include flex(column, flex-end, end);
		@include adaptiveValue("gap", 30, 10);
		text-align: right;

		@media (max-width:$tablet) {
			@include flex(column, flex-end, center);
			width: 97%;
			text-align: center;
		}

	}

	&__title {
		font-family: var(--fn-family-title);
		@include adaptiveValue("font-size", 32, 20);
		font-weight: 300;
		text-transform: uppercase;
		color: var(--clr-title);
		@include adaptiveValue("width", 215, 210);
		line-height: 1.2;

		@media (max-width:$tablet) {
			width: 97%;
		}
	}

	&__subtitle {
		width: rem(228);

		@media (max-width:$tablet) {
			width: 97%;
		}

	}
}