.price {
	@include adaptiveValue("padding-top", 65, 30);
	@include adaptiveValue("padding-bottom", 65, 30);

	&__container {}

	&__item {
		@include flex(row, space-between);
		@include adaptiveValue("gap", 58, 10);

		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 80, 30);
		}

		@media (max-width:$tablet) {
			@include flex(column-reverse, flex-start, start);
		}
	}

	&__item--revers {
		@include flex(row-reverse, flex-start);

		@media (max-width:$tablet) {
			@include flex(column-reverse, flex-start, start);
		}
	}

	&__info-wrap {
		width: 100%;
	}

	&__title {
		font-family: var(--fn-family-title);
		@include adaptiveValue("font-size", 32, 20);
		font-weight: 300;
		text-transform: uppercase;
		color: var(--clr-title);
		padding-bottom: rem(10);
		border-bottom: rem(2) solid var(--clr-accent);
		width: 100%;
	}

	&__table-wrap {
		width: 100%;
		@include flex(column, flex-start, start);
		gap: rem(6);
		padding-top: rem(14);

	}

	&__table-item {
		@include flex(row, flex-start);
		gap: rem(6);

		@media (max-width:$tablet) {
			width: 100%;
			@include flex(row, space-between, start);
		}
	}

	&__name {
		@include flex(column, center, start);
		@include adaptiveValue("width", 332, 120);

		@media (max-width:$tablet) {
			width: 100%;
		}

	}

	&__name,
	&__num {
		@include adaptiveValue("padding-left", 16, 10);
		@include adaptiveValue("padding-right", 16, 10);
		@include adaptiveValue("font-size", 16, 14);
		line-height: 1.1;
		height: rem(40);
		border: rem(1) solid #313131;
	}

	&__num {
		@include flex(row);
		@include adaptiveValue("width", 168, 168);
		text-align: center;

		sup {
			@include adaptiveValue("font-size", 12, 10);
		}

		@media (max-width:$tablet) {
			width: rem(168);
		}
	}

	&__img {
		@include adaptiveValue("width", 598, 98);
		object-fit: cover;
		box-shadow: 0px 0px 139px 0px rgba(0, 0, 0, 0.35);

		@media (max-width:$tablet) {
			width: 100%;
		}
	}
}