html {
	scroll-behavior: smooth;
	// overflow-x: hidden;
}

body {
	font-family: var(--fn-family);
	font-size: var(--fn-full-page);
	background: var(--clr-body);
	color: var(--clr-text);
	font-weight: 400;
	line-height: 1.4;
	@include footerToBottom;
}

::-webkit-scrollbar {
	width: rem(6);
	height: rem(6);
	background-color: var(--clr-accent)
}

::-webkit-scrollbar-thumb {
	border-radius: rem(6);
	min-height: rem(20);
	background-color: var(--clr-accent);
}

::-webkit-scrollbar-track-piece {
	background-color: #393939;
	-webkit-border-radius: rem(3);
}

a {
	color: inherit;
}